{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color: #F5F5F5;">

    <!-- Products Start -->
    <div class="container-fluid pt-1 pb-3">
        <div class="row px-xl-5 d-flex align-items-center justify-content-center">

            {% if wishlist %}
                {% for i in wishlist %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1 bg-light shadow-lg border border-transparent p-4 m-5 mb-5 bg-body rounded position-relative">
                    <div class="product-item bg-light mb-1">
                        <div class="single-banner">
                            <img src="{{i.product.image.url}}" height="300px" width="70%" alt="">
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""><h4 class="text-warning"><b>{{i.product.name}}</b></h4></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h6>Rs. {{i.product.price}}</h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                {% if i.product.available == True %}
                                <h6>Available</h6>
                                {% else %}
                                <h6>Not Available</h6>
                                {% endif %}
                            </div>

                            <!-- Remove Button at the top-right corner (No red circle) -->
                            <a href="{% url 'cart:wishlistremove' i.product.id %}" class="btn btn-link position-absolute" style="top: 10px; right: 10px; font-size: 20px; color: #d9534f; padding: 0; z-index: 10;">
                                <i class="fa fa-times" style="color:black;"></i>
                            </a>

                            <!-- Details Button -->
                            <div class="text-center mt-2">
                                <a href="{% url 'shop:details' i.product.id %}" class="btn btn-warning mx-auto mt-2">Details</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <!-- If Wishlist is empty -->
                <div class="col-12 text-center m-5">
                    <h4>Your wishlist is empty!</h4>
                </div>
            {% endif %}

        </div>
    </div>
    <!-- Products End -->

</body>
{% endblock %}
